button{
  background-color: blue;
  display: block;
  height: 40px;
  width:60px;
  border-radius: 20px;
  color:white;
}
.image{
  text-align: center;
}
h1{
  font-family: Arial;
  text-align: center;
  color:  black;
  font-size: 72px;
}
.mainImage{
  width: 85%;
  height: auto;
  z-index: -1;
  transition: linear 1s;
}
:hover.mainImage
{
  box-shadow: 10px 20px 30px black;
}
