.body{
  display: block;
  height: 100%;
  width: 100%;
}
.lumos{
  display: inline-block;
  border-radius: 0px;
  border: none;
  width: 25%;
  height: 25%;
  background-color: orange;
}
.image{
  text-align: center;

  transition: linear 1s;
}
h1{
  font-family: Arial;
  text-align: center;
  color:  black;
  font-size: 72px;
}
.mainImage{
  width: 85%;
  height: auto;
}
