button{
  background-color: blue;
  display: block;
  height: 40px;
  width:60px;
  border-radius: 20px;
  color:white;
}
.image{
  text-align: center;
}
h1{
  font-family: Arial;
  text-align: center;
  color:  black;
  font-size: 72px;
}
